@import url('./main-layout.css');

.v-dragged.card {
    outline: 1px dotted hotpink;
    opacity: 0.5;
}

.v-drag-over-target {
    background-color: #A6C7ED !important;
    /*border: #A6C7ED 1px solid;*/
}

.droppable-border {
    border: 1px solid darkgray;
}

.gold-voted {
    font-size: xxx-large;
    border: 4px solid gold !important;
    background-color: rgb(255, 215, 0, 0.2)
}

.silver-voted {
    font-size: xx-large;
    border: 3px solid silver !important;
    background-color: rgb(192, 192, 192, 0.2)
}

.bronce-voted {
    font-size: x-large;
    border: 3px solid rosybrown !important;
    background-color: rgb(188, 143, 143, 0.2)
}

.rcorners {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
}
